
<section class="px-6 py-8 text-sm bg-very-light-gray-background-lm md:h-screen md:flex md:flex-col md:justify-center xl:text-base xl:px-[3%]">
    <div>
      <button>Back</button>
    </div>
    <article class="md:flex md:justify-between md:items-center max-w-7xl">
        <figure class="w-full md:w-[450px] xl:w-[600px] shrink-0">
            <img class="w-full h-auto object-cover" src="https://flagcdn.com/w320/de.png" alt="">
        </figure>
        <section class="mt-6 md:flex-grow md:pl-[5%] xl:pl-[8%] md:mt-0">
            <div class="w-full xl:flex xl:justify-between xl:items-center">
                <div>
                    <h2 class="text-xl font-semibold mb-4 text-very-dark-blue-text-lm xl:text-3xl">Belgium</h2>
                    <ul class="font-semibold text-very-dark-blue-text-lm xl:space-y-3">
                        <li>
                            Native Name: <span class="font-normal">Belgié</span>
                        </li>
                        <li>
                            Population: <span class="font-normal">11.319.511</span>
                        </li>
                        <li>
                            Región: <span class="font-normal">Europe</span>
                        </li>
                        <li>
                            Sub Región: <span class="font-normal">Western Europe</span>
                        </li>
                        <li>
                            Capital: <span class="font-normal">Brussels</span>
                        </li>
                    </ul>
                </div>
                <ul class="mt-6 font-semibold text-very-dark-blue-text-lm xl:space-y-3">
                    <li>Top Level Domain: <span class="font-normal">.be</span></li>
                    <li>Currencies: <span class="font-normal">Euro</span></li>
                    <li>Languages: <span class="font-normal">Dutch, French, German</span></li>
                </ul>
            </div>
            <div class="mt-6 xl:flex xl:gap-x-3">
                <h3 class="font-bold mb-4 xl:mb-0">Border Countries:</h3>
                <ul class="bg-very-light-gray-background-lm flex justify-between text-xs xl:justify-start xl:gap-x-2">
                    <li class="px-4 py-1 shadow">
                        <a>France</a>
                    </li>
                    <li class="px-4 py-1 shadow">
                        <a>Germany</a>
                    </li>
                    <li class="px-4 py-1 shadow">
                        <a>Netherlands</a>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</section>








