
<section class="px-6 py-8 text-sm bg-very-light-gray-background-lm dark:bg-very-dark-blue-background-dm md:flex md:flex-col md:justify-center xl:text-base xl:px-[3%] ">
    <div>
      <button (click)="goToBack()" class="px-5 py-2 text-very-dark-blue-text-lm bg-white-elements-lm dark:bg-dark-blue-elements-dm dark:text-white-text-dm shadow-md flex items-center gap-x-3 mb-12">
        <span class="material-icons">keyboard_backspace</span>
        <span>Back</span>
      </button>
    </div>
    <article class="md:flex md:justify-between md:items-center max-w-7xl" *ngIf="country">
        <figure class="w-full md:w-[450px] xl:w-[600px] shrink-0 md:shadow-lg">
            <img class="w-full h-auto object-cover" [src]="country.flags.png" [alt]="country.flags.alt">
        </figure>
        <section class="mt-6 text-very-dark-blue-text-lm dark:text-white-text-dm md:flex-grow md:pl-[5%] xl:pl-[8%] md:mt-0">
            <div class="w-full xl:flex xl:justify-between xl:items-center">
                <div>
                    <h2 class="text-xl font-semibold mb-4 xl:text-3xl">{{country.name.common}}</h2>
                    <ul class="font-semibold space-y-2 xl:space-y-3">
                        <li>
                            Native Name: <span class="font-normal text-dark-gray-input-lm">{{country.native}}</span>
                        </li>
                        <li>
                            Population: <span class="font-normal text-dark-gray-input-lm">{{country.population}}</span>
                        </li>
                        <li>
                            Región: <span class="font-normal text-dark-gray-input-lm">{{country.region}}</span>
                        </li>
                        <li>
                            Sub Región: <span class="font-normal text-dark-gray-input-lm">{{country.subregion}}</span>
                        </li>
                        <li>
                            Capital: <span class="font-normal text-dark-gray-input-lm">{{country.capital}}</span>
                        </li>
                    </ul>
                </div>
                <ul class="mt-6 font-semibold space-y-2 xl:space-y-3 md:mt-0">
                    <li>Top Level Domain: <span class="font-normal text-dark-gray-input-lm">{{country.tld}}</span></li>
                    <li>Currencies: <span class="font-normal text-dark-gray-input-lm">{{country.currency}}</span></li>
                    <li *ngIf="country.listLanguages">Languages: <span class="mr-2 font-normal text-dark-gray-input-lm" *ngFor="let item of country.listLanguages">{{item}},</span></li>
                </ul>
            </div>
            <div class="mt-6 xl:flex xl:gap-x-3">
                <h3 class="font-bold mb-4 xl:mb-0">Border Countries:</h3>
                <ul class="flex flex-wrap gap-x-3 gap-y-2 text-xs bg-very-light-gray-background-lm dark:bg-very-dark-blue-background-dm xl:justify-start xl:gap-x-2">
                    <li class="px-4 py-1 shadow-md dark:shadow-lg font-medium text-very-dark-blue-text-lm dark:text-dark-gray-input-lm dark:bg-dark-blue-elements-dm flex items-center hover:cursor-pointer" *ngFor="let code of country.borders">
                        <a [routerLink]="['../',getNameCountry(code)]">{{getNameCountry(code)}}</a>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</section>








