
<section class="py-8 px-3 bg-very-light-gray-background-lm dark:bg-very-dark-blue-background-dm lg:pl-[calc((100%-1280px)/2)] lg:pr-[calc((100%-1280px)/2)] ">

  <div class="w-full flex flex-col gap-y-3 mb-10 md:flex-row md:justify-between ">
    <div class="w-full mb-7 text-dark-gray-input-lm bg-white-elements-lm rounded dark:bg-dark-blue-elements-dm shadow-md px-8 flex items-center gap-x-4 max-w-3xl lg:max-w-lg lg:mb-0">
      <span class="material-icons">
        search
      </span>
      <input
        type="search"
        #search
        placeholder="Search for a country"
        (input)="filtering(search.value)"
        class="h-12 outline-none px-4 py-3 bg-white-elements-lm dark:bg-dark-blue-elements-dm w-full"
      >
    </div>

    <div class="relative w-48 text-base">
        <div (click)="toggleMenuOption()" class="flex justify-evenly items-center gap-x-6 h-12 w-full rounded shadow-md text-very-dark-blue-text-lm dark:text-white-text-dm bg-white-elements-lm dark:bg-dark-blue-elements-dm hover:cursor-pointer">
          <h3 class="m-2">Filter by country</h3>
          <button class="flex items-center">
            <span class="material-icons" *ngIf="!menuOptionRegion" >
              keyboard_arrow_down
            </span>
            <span class="material-icons" *ngIf="menuOptionRegion">
              keyboard_arrow_up
            </span>
          </button>
        </div>
        <ul *ngIf="menuOptionRegion" class="absolute hover:cursor-pointer top-[52px] w-48 p-3 space-y-1 rounded shadow-md text-very-dark-blue-text-lm dark:text-white-text-dm bg-white-elements-lm dark:bg-dark-blue-elements-dm z-10">
          <li
            *ngFor="let region of regionList"
            (click)="filterByRegion(region)" [ngClass]="region.id === selectedId ? 'border pl-2 rounded-md' : '' " >{{region.name}}</li>
        </ul>
    </div>
  </div>

  <div class="w-full grid grid-cols-1 justify-items-center gap-12 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  ">
    <app-country @myInsertRemoveTrigger
      *ngFor="let country of countriesFiltered()"
      [country]="country"
    />
  </div>
</section>












